In [5]:
import sys
lib = r'C:\Users\KerenYlab\Desktop\Technion studies\Keren laboratory\python_playground\classifying-response-to-immunotherapy\utilities\droplet_dataset'
lib2 = r'C:\Users\KerenYlab\Desktop\Technion studies\Keren laboratory\python_playground\classifying-response-to-immunotherapy\utilities'
lib3 = r'C:\Users\KerenYlab\Desktop\Technion studies\Keren laboratory\python_playground\classifying-response-to-immunotherapy\data_analysis'
lib4 = r'C:\Users\KerenYlab\Desktop\Technion studies\Keren laboratory\python_playground\classifying-response-to-immunotherapy'
sys.path.append(lib)
sys.path.append(lib2)
sys.path.append(lib3)
sys.path.append(lib4)
import pandas as pd
from utilities.package_importing import *

In [6]:
dataset_path = r'C:\Users\KerenYlab\Desktop\Technion studies\Keren laboratory\Data\droplet_seq\DEBUG\1000_rand_cells.pkl'
cohort = pickle.load(open(dataset_path, 'rb'))

In [7]:
from bioinfokit import analys, visuz

In [10]:
df = analys.get_data('ma').data
df.head(2)

# visuz.GeneExpression.ma(df=df, lfc='log2FC', ct_count='value1', st_count='value2', pv='p-value')

          GeneNames  value1  value2    log2FC       p-value
0  LOC_Os09g01000.1    8862   32767 -1.886539  1.250000e-55
1  LOC_Os12g42876.1    1099     117  3.231611  1.050000e-55

In [11]:
df

              GeneNames  value1  value2    log2FC       p-value
0      LOC_Os09g01000.1    8862   32767 -1.886539  1.250000e-55
1      LOC_Os12g42876.1    1099     117  3.231611  1.050000e-55
2      LOC_Os12g42884.2     797      88  3.179004  2.590000e-54
3      LOC_Os03g16920.1     274       7  5.290677  4.690000e-54
4      LOC_Os05g47540.4     308      18  4.096862  2.190000e-54
...                 ...     ...     ...       ...           ...
10013  LOC_Os04g13900.1       1       1  0.000000  1.000000e+00
10014  LOC_Os02g10920.4       1       1  0.000000  1.000000e+00
10015  LOC_Os01g08350.1       1       1  0.000000  1.000000e+00
10016  LOC_Os03g17250.1       1       1  0.000000  1.000000e+00
10017  LOC_Os01g07560.1       1       1  0.000000  1.000000e+00

[10018 rows x 5 columns]